app = 'kakao'
primary_region = 'nrt'

[build]

# 서버 실행 명령어를 명확하게 지정합니다.
[processes]
  app = "python main.py"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = "shared-cpu-1x"
  memory_mb = 2048  # 2GB 설정 유지